#tarifa
{
    width: 100%;
    padding: 3rem 2rem;
    background-color: rgba(0, 0, 0, 0.582);
}

#tarifa h2
{
    font-size: 26px;
    color: rgb(230, 133, 7);
    margin-bottom: 3rem;
}

table 
{
    padding: 3rem 2rem;
    background-color: #2525258c;
}

table tr
{
    color: #fff;
}

table tr th
{
    color: rgb(230, 133, 7);
    font-size: 18px;
    text-align: left;
}

table tr td
{
    padding-top: 10px;
    border-bottom: 2px solid rgb(230, 133, 7);
}